@import "loader";

$card-height: 150px;
$card-horizontal-margin: 24px;

html {
  overflow-y: auto;
}

.card {
  margin: $card-horizontal-margin;
  height: $card-height;

  &:first-child {
    margin-top: 1px;
  }

  &:last-child {
    margin-bottom: 1px;
  }
}

.card.animate {
  max-height: 0;
  opacity: 0;
  animation: grow 1s ease-in-out forwards;
  -webkit-animation: grow 1s ease-in-out forwards;
}

@-webkit-keyframes grow {
  to {
    max-height: 100%;
    opacity: 1;
  }
}
@keyframes grow {
  to {
    max-height: 100%;
    opacity: 1;
  }
}

.card-header {
  box-shadow: none;
}

.card-header-title {
  overflow: hidden;
  flex-grow: 0;
}

.card-header-icon-filter {
  opacity: 0;
}

.card-header-tx:hover {
  .card-header-icon-filter {
    opacity: 1;
  }
}

.card-header-from,
.card-header-to {
  display: flex;

  &:hover {
    .card-header-icon-filter {
      opacity: 1;
    }
  }
}

.card-header-filters {
  display: flex;
  flex: 1;
}

.tx-hash {
  text-overflow: ellipsis;
  overflow: hidden;
}

.tx-timestamp {
  margin-top: 1px;
}

pre {
  max-height: 70px;
  white-space: pre-wrap;
  background-color: #efefef;
}

.input {
  margin-left: $card-horizontal-margin;
  width: calc(100% - #{$card-horizontal-margin});
}

.filters {
  margin: 12px $card-horizontal-margin 24px;
}

.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  margin-left: $card-horizontal-margin;
}

.transactions-description {
  display: flex;
  align-items: center;
}

hr {
  margin-left: $card-horizontal-margin;
}

@media screen and (max-width: 768px) {
  .settings {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .transactions-description {
    margin-top: 12px;
  }

  .card {
    height: 220px;
  }

  .card-header-extra-data {
    flex-direction: column;

    .card-header-filters {
      display: none;
    }
  }

  .card-header-icon-filter {
    display: none;
  }
}

/* Virtual scroll */

.root {
  overflow-y: auto;
}

.spacer {
  will-change: transform;
}

/* Bulma hotfix */
.card-header-icon {
  margin: 0.75rem 1rem;
  padding: 0;
}

.navbar-end,
.navbar-item {
  display: flex;
}
