.card {
  margin: 24px;
  height: 100px;
}

.card:first-child {
  margin-top: 1px;
}

.card:last-child {
  margin-bottom: 1px;
}

.card.animate {
  max-height: 0;
  opacity: 0;
  animation: grow 1s ease-in-out forwards;
  -webkit-animation: grow 1s ease-in-out forwards;
}

@-webkit-keyframes grow {
  to {
    max-height: 100%;
    opacity: 1;
  }
}
@keyframes grow {
  to {
    max-height: 100%;
    opacity: 1;
  }
}

.card.show {
  opacity: 1;
}

.card-header-title {
  overflow: hidden;
}

.tx-hash {
  text-overflow: ellipsis;
  overflow: hidden;
}

.tx-timestamp {
  margin-top: 1px;
}

pre {
  max-height: calc(100px - 38px);
  white-space: pre-wrap;
  background-color: #efefef;
}

.input {
  margin-bottom: 2rem;
  margin-left: 24px;
  width: calc(100% - 24px);
}

.settings {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  margin-left: 24px;
}

.transactions-description {
  flex: 1;
}

/* Loader */
.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #fff;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.loader-wrapper.is-active {
  opacity: 1;
  z-index: 1;
}

.loader {
  height: 80px;
  width: 80px;
}

/* Virtual scroll */

.root {
  overflow-y: auto;
}

/* Bulma hotfix */
.card-header-icon {
  margin: 0.75rem 1rem;
  padding: 0;
}
