.card {
  margin-bottom: 2rem;
}

.card-header-title {
  overflow: hidden;
}

.tx-hash {
  text-overflow: ellipsis;
  overflow: hidden;
}

.input {
  margin-bottom: 2rem;
}

/* Bulma hotfix */
.card-header-icon {
  margin: 0.75rem 1rem;
  padding: 0;
}
